body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display: flex;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.banner{
    background-image: url(./images/top-banner.png);
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img{
    width: 80%;
}
span{
    color: chocolate;
}
#contact{
    color: cornsilk;
    background-color: tomato;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 30px;
    background-image: linear-gradient(rgb(187, 10, 93),tomato);
}
h1{
    font-size: 50px;
}
.second>h1{
    color: tomato;
}
.feature{
    border-left: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    box-shadow: 10px 10px 30px gray;
}
.middle{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.basic{
    border-left: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient(tomato,purple);
    border-image-slice: 1;
    box-shadow: 10px 10px 30px gray;
    width: 30%;
    margin-left: 2%;
}
.standard{
    border-left: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient(green,blue);
    border-image-slice: 1;
    box-shadow: 10px 10px 30px gray;
    width: 30%;
    margin-left: 2%;
}
.premium{
    border-left: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient(chocolate,yellow);
    border-image-slice: 1;
    box-shadow: 10px 10px 30px gray;
    width: 30%;
    margin-left: 2%;
}
.last{
    color: white;
    background-image: linear-gradient(purple,orange);
    font-weight: 700;
    text-align: center;
}
footer{
    text-align: center;
}